@import url("https://fonts.googleapis.com/css?family=Poppins:400,600");

.App {
  font-family: sans-serif;
  color: #1b1d28;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 72px;
  width: 100%;
  max-width: 630px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  padding: 0 15px;
  color: white;
  font-family: "Poppins", sans-serif;
}

.header-title {
  font-size: 20px;
  letter-spacing: 1.5px;
  font-weight: 600;
}

.headerNav {
  margin-left: auto;
}

.headerNav-item {
  color: white;
  font-size: 15px;
  margin-left: 20px;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 0.5px;
}

.hero {
  padding: 140px 0 120px;
  background-color: #1b1d28;
  color: white;
  text-align: center;
  font-family: "Poppins", sans-serif;
}

.hero-title {
  font-size: 36px;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 1.4;
}

.hero-description {
  font-size: 18px;
  letter-spacing: 0.5px;
}

.section {
  max-width: 630px;
  padding: 0 15px;
  margin: 32px auto;
}

.section-title {
  color: #b6b6ba;
  font-size: 24px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 8px;
}

.aboutDescription {
  font-size: 14px;
  line-height: 1.8;
}

.workItem {
  margin: 16px 0;
}

.workItem-category {
  font-size: 12px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 0.5px;
  margin: 6px 0 2px;
  color: #4caf50;
}

.workItem-title {
  font-weight: 600;
}

.footer {
  font-size: 12px;
  text-align: center;
  padding: 16px 0;
  background-color: #1b1d28;
  color: white;
}
